@{
    ViewData["Title"] = "Home Page";
}
<section>
    <article>
        <h1>
            Build something beautiful
        </h1>
        <p>
            Spark picks up where ASP.NET leaves off. Build production ready, full-stack web applications fast.
        </p>
        <p>
            View the <a href="https://spark-framework.net" target="_blank"><strong>documentation →</strong></a>
        </p>
    </article>
</section>
